In [1]:
import pandas as pd
import numpy as np

In [2]:
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('fivethirtyeight')
color_pal=sns.color_palette()

In [3]:
dfd=pd.read_csv('/kaggle/input/telangana-government-tourism-department/domestic_visitors(2016-2019).csv')
dff=dfd=pd.read_csv('/kaggle/input/telangana-government-tourism-department/foreign_visitors(2016-2019).csv')

In [4]:
dff.columns

Index(['Unnamed: 0', 'district', 'date', 'month', 'year', 'visitors'], dtype='object')

In [5]:
dfd.columns

Index(['Unnamed: 0', 'district', 'date', 'month', 'year', 'visitors'], dtype='object')

In [6]:
dfd=dfd.drop('Unnamed: 0',axis=1)
dff=dff.drop('Unnamed: 0',axis=1)

In [7]:
print('There are' ,dfd['district'].nunique() ,'districts in Telangana')

There are 33 districts in Telangana

In [8]:
dfd.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [9]:
dff.isnull().sum()

district    0
date        0
month       0
year        0
visitors    0
dtype: int64

In [10]:
dff.dtypes

district    object
date        object
month       object
year         int64
visitors    object
dtype: object

In [11]:
dfd=dfd.fillna(0)

In [12]:
dfd['visitors']=dfd['visitors'].replace({' ':0})
dff['visitors']=dff['visitors'].replace({' ':0})

In [13]:
dfd['visitors']=dfd['visitors'].astype(int)
dff['visitors']=dff['visitors'].astype(int)

#### Top 10 districts that have the highest domestic visitors overall(2016-2019)

In [14]:
overa=dfd.groupby('district')['visitors'].max().reset_index()
overa=overa.sort_values(by='visitors',ascending=False).head(10).reset_index()
overa=overa.drop('index',axis=1)

In [15]:
overa

                   district  visitors
0                 Hyderabad     38933
1          Warangal (Urban)       459
2               Mahbubnagar       126
3  Jayashankar Bhoopalpally        85
4                    Mulugu        70
5         Jogulamba Gadwal         45
6          Warangal (Rural)        35
7             Nagarkurnool         35
8                Mancherial        10
9                Narayanpet         5

#### Observation
##### In 2016-2019 Overall,Hyderabad has had most domestic visitors
##### The second district in the list has had almost 83 times less visitors than Hyderabad

#### Calculating CAGR

![](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.rOJy7_Y35HqpyY_lE74etAHaBc%26pid%3DApi&f=1&ipt=77f6e709781e80119998228daa371bcdd664379ad235c3b5d274afbcb3543806&ipo=images)